#img-father{
    width: 300px;
    height: 290px;
}
#father{
    text-align: center;
    font-size: 40px;
    font-size: 10px;
}
.img{
    width: 170px;
    height: 160px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
}
