h2{
    margin-left: 10px;
}
.z{
    margin-right: 10px;
}
.x{
    margin-left: 12px;
}
.container{
    width: 400px;
    height: 800px;
    text-align: center;
}
.cards{
    display: flex;
}
.grandfather{
    position: absolute;
    width: 150px;
    height: 140px;
}
.img-grandfather{
    width: 170px;
    height: 160px;
    object-fit: cover;
}
.grandmother{
    width: 150px;
    height: 140px;
    margin-left: 82px;
}
.img-grandmother{
    width: 170px;
    height: 160px;
    object-fit: cover;

}
.father{
    width: 150px;
    height: 140px;
    position: absolute;
    margin-top: 250px;

}
.img-father{
    width: 170px;
    height: 160px;
    object-fit: cover;

}
.mother{
    width: 150px;
    height: 140px;
    margin-left: 252px;
    margin-top: 250px;
    position: absolute;
}
.img-mother{
    width: 170px;
    height: 160px;
    object-fit: cover;

}
.father{
    width: 150px;
    height: 140px;
}
.bekislam{
    width: 150px;
    height: 140px;
    position: absolute;
    margin-top: 500px;
}
.img-bekislam{
    width: 170px;
    height: 160px;
    object-fit: cover;

}
.indira{
    width: 150px;
    height: 140px;
    position: absolute;
    margin-top: 500px;
    margin-left: 252px;
}
.img-indira{
    width: 170px;
    height: 160px;
    object-fit: cover;

}
.bayastan{
    width: 150px;
    height: 250px;
    position: absolute;
    margin-top: 750px;
}
.img-bayastan{
    width: 170px;
    height: 160px;
    object-fit: cover;

}
.sabina{
    width: 150px;
    height: 250px;
    position: absolute;
    margin-top: 750px;
    margin-left: 252px;
}
.img-sabina{
    width: 170px;
    height: 160px;
    object-fit: cover;
}