.container{
    width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.grandfather{
    width: 150px;
    height: 140px;
    
}
.img-grandfather{
    width: 150px;
    height: 140px;
}
.grandmother{
    width: 150px;
    height: 140px;
    margin-left: 60px;

}
.img-grandmother{
    width: 150px;
    height: 140px;
}
